{% do view.registerAssetBundle("wheelform\\assets\\WheelformCpAsset") %}
{% import "_includes/forms" as forms %}

<h2>{{ "Entries Export"|t('wheelform') }}</h2>
<form id="export-form" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="wheelform/entries/export">
    <input type="hidden" name="redirect" value="{{ cpUrl('utilities/wheelform-export')}}">
    {{ csrfInput() }}

    {{
        forms.selectField({
            label: 'Select Form'|t('wheelform'),
            id: 'form-options',
            name: 'form_id',
            options: formOptions,
        })
    }}

    {{ forms.dateField({
        name: 'start_date',
        id: 'start_date',
        label: 'Start Date'|t('wheelform'),
        first: true,
    }) }}

    {{ forms.dateField({
        name: 'end_date',
        id: 'end_date',
        label: 'End Date'|t('wheelform'),
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Export"|t('wheelform') }}" />
        <div class="utility-status"></div>
    </div>
</form>

<hr>

<h2>{{ "Field Export"|t('wheelform') }}</h2>
<form id="export-fields" class="utility" method="get" accept-charset="UTF-8">
    <input type="hidden" name="action" value="wheelform/form/export-fields">
    <input type="hidden" name="redirect" value="{{ cpUrl('utilities/wheelform-export')}}">
    {{ csrfInput() }}

    {{
        forms.selectField({
            label: 'Select Form'|t('wheelform'),
            id: 'field-export-form-id',
            name: 'form_id',
            options: formOptions,
        })
    }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Export"|t('wheelform') }}" />
        <div class="utility-status"></div>
    </div>
</form>

<hr>

<h2>{{ "Field Import"|t('wheelform') }}</h2>
<form id="import-fields" class="utility" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="action" value="wheelform/form/import-fields">
    <input type="hidden" name="redirect" value="{{ cpUrl('utilities/wheelform-export')}}">
    {{ csrfInput() }}

    {{
        forms.selectField({
            label: 'Select Form'|t('wheelform'),
            id: 'field-import-form-id',
            name: 'form_id',
            options: formOptions,
        })
    }}

    {{
        forms.fileField({
            id: 'fields_file',
            name: 'fields_file',
            class: 'cs-support-attachment',
        })
    }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Import"|t('wheelform') }}" />
        <div class="utility-status"></div>
    </div>
</form>

