{% extends "_layouts/cp" %}

{% import "_includes/forms" as formEl %}

{% do view.registerAssetBundle("Wheelform\\assets\\WheelFormCpAsset") %}

{% set title = (form.id is defined ? 'Edit Form'|t : 'New Form'|t) %}
{% set docsUrl = 'https://github.com/xpertbot/craft-wheelform' %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
] %}

{% set fullPageForm = true %}

{% block content %}

    <input type="hidden" name="action" value="wheelform/form/save">
    {{ redirectInput('wheelform') }}
    <input type="hidden" name="changed_fields" id="changed_fields" value="0">
    {% if form.id is defined %}<input type="hidden" name="form_id" value="{{ form.id }}">{% endif %}

    {{ formEl.textField({
        label: "Form Name"|t,
        id: 'name',
        name: 'name',
        value: form.name,
        errors: form.getErrors('name'),
        first: true,
        autofocus: true,
        required: true,
        instructions: 'Name of this Form in the CP.'|t,
    }) }}

    {{ formEl.textField({
        label: "To Email"|t,
        id: 'to_email',
        name: 'to_email',
        value: form.to_email,
        errors: form.getErrors('to_email'),
        required: true,
        instructions: 'Email notifications will be sent to.'|t,
    }) }}

    {{ formEl.lightswitchField({
        label: "Active"|t,
        id: 'active',
        name: 'active',
        on: form.active,
    }) }}

    <table class="data fullwidth">
        <thead>
            <tr>
                <th class="required">Field Name</th>
                <th>Type</th>
                <th>Settings</th>
                <th class="thin">Actions</th>
            </tr>
        </thead>
        <tbody id="form-fields">
            {% for field in form.fields %}
                {% embed 'wheelform/embeds/_edit-form-field.twig'
                    with {'field': field, 'index': loop.index, 'fieldTypes': fieldTypes} only %}
                {% endembed %}
                {% if loop.last %}
                    {% embed 'wheelform/embeds/_edit-form-field.twig'
                        with {'index': loop.index + 1, 'lastRow': true, 'fieldTypes': fieldTypes} only %}
                    {% endembed %}
                {% endif %}
            {% else %}
                {% embed 'wheelform/embeds/_edit-form-field.twig'
                    with {'index': loop.index, 'lastRow': true, 'fieldTypes': fieldTypes} only %}
                {% endembed %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
