{% extends '_layouts/cp' %}
{% set title = "Single Entry"|t('app') %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
    { label: 'Entries' | t('wheelform'), url: url('wheelform/form/'~ form_id ~'/entries') }
] %}

{% set content %}
<div class="tableview">
    {% if values is not empty %}
    <table class="data fullwidth">
        <thead>
            <th>{{ 'Label' | t('wheelform') }}</th>
            <th>{{ 'Value' |t('wheelform') }}</th>
        </thead>
        {% for row in values %}
        <tr>
            <td>
                <strong>{{ row.field.getLabel() }}</strong>
            </td>
            <td>
                {{ row.getValue() }}
            </td>
        </tr>
        {% else %}
            {{ 'No values were saved!' | t('wheelform') }}
        {% endfor %}
    </table>
    {% else %}
        {{ 'No values were saved!' | t('wheelform') }}
    {% endif %}
</div>
{% endset %}
