{% extends '_layouts/cp' %}
{% set title = "Entries"|t('app') %}

{% do view.registerAssetBundle("wheelform\\assets\\WheelformCpAsset") %}

{% set crumbs = [
    { label: 'Wheel Form', url: url('wheelform') },
] %}

{% set fullPageForm = true %}

{% block actionButton %}
<div class="btngroup">
    <div class="btn menubtn" data-icon="settings" tabindex="0" role="combobox"></div>
    <div class="menu">
        <ul>
            <li>
                <a class="formsubmit" data-redirect="{{ url('wheelform/form/' ~ form_id ~ '/entries')|hash }}">
                    {{ "Mark Read"|t('wheelform') }}
                </a>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <a class="formsubmit error"
                    data-action="wheelform/entries/delete-entries"
                    data-confirm="{{ 'Are you sure you want to delete these entries?'|t('app') }}"
                    data-redirect="{{ url('wheelform/form/' ~ form_id ~ '/entries')|hash }}">{{ 'Delete'|t('app') }}</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% set content %}
<input type="hidden" name="action" value="wheelform/entries/update-entries">
<input type="hidden" name="read_status" value="1">

<div class="tableview">
    {% if entries is not empty %}
    <div class="clearfix">
        {{ pager | raw }}
    </div>
        <table class="data fullwidth" id="entries-table">
            <thead>
                <tr>
                    <th class="thin">{{ '' | t('wheelform') }}</th>
                    <th scope="col" data-attribute="View">
                        {{ 'View Message' | t('wheelform') }}
                    </th>
                    {% if headerFields is not empty %}
                        {% for h in headerFields %}
                            <th>{{h.getLabel()}}</th>
                        {% endfor %}
                    {% endif %}
                    <th class="thin text-center">{{ "New" | t('wheelform') }}</th>
                    <th scope="col" data-attribute="dateSubmitted" class="text-right">
                        {{ 'Date Submitted' | t('wheelform') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>
                            <div class="field checkboxfield">
                                <input type="checkbox" class="checkbox" name="message_id[]" value="{{ entry.id }}" id="wi-action-input-{{ entry.id }}" \>
                                <label for="wi-action-input-{{ entry.id }}"></label>
                            </div>
                        </td>
                        <td class="view-message">
                        {{entry.id}}
                            <a href="{{ url('wheelform/entry/' ~ entry.id)}}">
                                {{ "View" | t('wheelform') }}
                            </a>
                        </td>
                        {% if headerFields is not empty %}
                            {% for field in headerFields %}
                                <td>
                                {% set messageValue = entry.getValueById(field.id) %}
                                {% if messageValue is not empty %}
                                    {% switch field.type %}
                                        {% case "list" %}
                                            {% if messageValue.getValue() %}
                                                <ul>
                                                    {% for item in messageValue.getValue() %}
                                                        <li>{{ item }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% default %}
                                            {{ messageValue.getValue()|nl2br }}
                                    {% endswitch %}
                                {% endif %}
                                </td>
                            {% endfor %}
                        {% endif %}
                        <td class="text-center">
                            {% if entry.read == 0 %}
                                <span class="new-badge">!</span>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </td>
                        <td class="text-right"><span>{{ entry.dateCreated | datetime('short') }}</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> {{ 'No Entries' | t('wheelform')}}</p>
    {% endif %}
</div>
{% endset %}

{% css %}
input.checkbox + label:before {
    top: 8px;
}
{% endcss %}
