{% extends "_layouts/cp" %}

{% set title = "Wheel Forms"|t('wheelform') %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit icon" href="{{ url('wheelform/form/new') }}">{{ 'New Form'|t('wheelform') }}</a>
    </div>
{% endblock %}


{% block content %}
    <div class="tableview">
        {% if wheelforms is not empty %}
            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th scope="col" class="thin">
                            Form ID
                        </th>
                        <th class="thin">
                            Active
                        </th>
                        <th scope="col">
                            Form Name
                        </th>
                        <th scope="col">
                            Entries
                        </th>
                        {% if currentUser.admin %}
                            <th scope="col" class="thin">
                                Settings
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for form in wheelforms %}
                        <tr data-id="{{ form.id }}" data-name="{{ form.name|t }}">
                            <td>{{ form.id }}</td>
                            <td><span class="status {{ form.active ? 'active' : 'disabled' }}"></span></td>
                            <td>{{ form.name }}</td>
                            <td>
                            {% if form.entryCount > 0 %}<a href="{{ url('wheelform/form/' ~ form.id ~ '/entries')}}">{% endif %}
                            {{ form.entryCount }}
                            {% if form.entryCount > 0 %}</a>{% endif %}
                            </td>
                            {% if currentUser.admin %}
                                <td>
                                    <a href="{{ url('wheelform/form/edit/'~ form.id) }}" class="settings icon" title="{{ 'Settings'|t }}"></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No forms</p>
        {% endif %}
    </div>
{% endblock %}
