<tr>
    <td>
        <input type="text" name="fields[{{ fieldIndex }}][name]"
            value="{% if field is defined %}{{ field.name }}{% endif %}" class="text fullwidth">
    </td>
    <td>
        <div class="select">
        <select name="fields[{{ fieldIndex }}][type]" class="fieldtoggle">
            <option {% if field is defined %}{{ field.type == "text" ? 'selected' : '' }}{% endif %} value="text">Text</option>
            <option {% if field is defined %}{{ field.type == "email" ? 'selected' : '' }}{% endif %} value="email">Email</option>
            <option {% if field is defined %}{{ field.type == "radio" ? 'selected' : '' }}{% endif %} value="radio">Radio</option>
            <option {% if field is defined %}{{ field.type == "checkbox" ? 'selected' : '' }}{% endif %} value="checkbox">Checkbox</option>
            <option {% if field is defined %}{{ field.type == "dropdown" ? 'selected' : '' }}{% endif %} value="dropdown">Dropdown</option>
        </select>
        </div>
    </td>
    <td>
        <label>
            <input type="checkbox" name="fields[{{ fieldIndex }}][required]"
                value="{% if field is defined %}{{ field.required }}{% endif %}">&nbsp;Required
        </label>
    </td>
    <td>
        <a href="#" class="form-field-rm success" data-icon="plus"></a>
        <a href="#" class="form-field-add error right" data-icon="remove"></a>
    </td>
</tr>
